{% load static %}
<!DOCTYPE html>
   <html>
     <head>
       <meta charset="UTF-8" />
       <title>View Hotels</title>
       <link
         rel="stylesheet"
         type="text/css"
         href="{%static 'Css/viewhotels.css' %}"
       />
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   
      
      <style>
         body {
           margin: 0;
   
           background: white;
           background-image: linear-gradient(
               rgba(0, 0, 0, 0.363),
               rgba(5, 5, 5, 0.5)
             ),
             url(/staticfiles/images/booking.jpg);
           background-attachment: fixed;
           background-size: 100% 100%;
           background-repeat: no-repeat;
           margin: 0;
           padding: 0;
         } 
         img {
           width: 290px;
           height: 250px;
          
         }
      </style>
     </head>
    <body>
      <div class="navbar">
        <div class="logo">
           <h1>Bon<span>Voyage</span></h1>
        </div>
        <div class="menu">
           <ul>
             <li><a href="{% url 'index' %}">Home</a></li>
             <li><a href="{% url 'destinations' %}">Destinations</a></li>
             <li><a href="{% url 'hotel' %}">Hotels</a></li>
             <li><a href="{% url 'packages' %}">Packages</a></li>
             <li><a href="{% url 'blog' %}">Blog</a></li>
             <li><a href="{% url 'create_comment' %}">Reviews</a></li>
             <li><a href="{% url 'aboutus' %}">About Us</a></li>
             <li><a href="{% url 'contactus' %}">Contact Us</a></li>
           </ul>
        </div>
   
        <div class="user-menu">
           {% if user.is_authenticated %}
           <div class="user-greeting">
              <span>Hi, {{ user.username }}</span>
           </div>
          
           <div class="logout">
             <a href="{% url 'user_logout' %}">Logout</a>
           </div> 
           {% else %}
           <div class="dropdown">
              <input type="submit" value="Signup" class="dropbtn">
              <div class="dropdown-content">
                 
                 <a href="{% url 'user_register' %}">User Register</a>
              </div>
              
           </div>
           <div class="dropdown">
             <input type="submit" value="Login" class="dropbtn">
               <div class="dropdown-content">
                   <a href="{% url 'admin_login' %}">Admin Login</a>
                   <a href="{% url 'user_login' %}">User Login</a>
                   <a href="{% url 'hotel_login' %}">Hotel Login</a>
               </div>
           </div>
           {% endif %}
        </div>
      </div>
   
       
        <div class="hotel-details">
          <div class="hotel-info">
            <img src="{{hotels.img.url}}" alt="Hotel Image">
            <div class="hotel-description">
               <h3 class="name">{{hotels.name}}</h3>
               <p class="hotel"><i class="fas fa-map-marker-alt"></i>Hotel in {{hotels.hotelname}}</p>
               <p>{{hotels.desc}}</p>
               <br/>
               <p><b>• Accommodation:</b> Choose from a variety of comfortable and spacious rooms, each with modern amenities and a private balcony. Wake up to the soothing sounds of nature and enjoy the fresh mountain air.</p>
               <br/>
               <p><b>• Service:</b> Our dedicated staff is committed to providing exceptional service to ensure a comfortable and memorable stay for our guests.</p>
               <br/>
            </div>
          </div>
          <div class="reviews">
                 <h4>{{hotels.review}}</h4>
                 <h6>{{hotels.rating}}</h6>
                 <p>283 reviews</p> 
          </div>
          <div class="price">
             <p class="per">Price</p>
             <p>₹ {{hotels.price}}</p> 
             <p class="per">per night</p>
          </div>
          <div class="rating-stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
          </div>
          {% if user.is_authenticated %}
          <a href="{% url 'booking' %}">
            <button type="button" class="confirm">BOOK NOW</button>
          </a>
          {% else %}
          <a href="{% url 'user_login' %}">
            <button class="confirm">BOOK NOW</button>
          </a>
          {% endif %}
        </div>
   
        <div class="hotel-details">
          <div class="hotel-info">
            <img src="{{hotels.img1.url}}" alt="Hotel Image1">
            <div class="hotel-description">
               <h3 class="name">{{hotels.name1}}</h3>
               <p class="hotel"><i class="fas fa-map-marker-alt"></i>Hotel in {{hotels.hotelname}}</p>
               <p>{{hotels.desc1}}</p>
               <br/>
               <p><b>• Accommodation:</b> Choose from a variety of comfortable and spacious rooms, each with modern amenities and a private balcony. Wake up to the soothing sounds of nature and enjoy the fresh mountain air.</p>
               <br/>
               <p><b>• Service:</b> Our dedicated staff is committed to providing exceptional service to ensure a comfortable and memorable stay for our guests.</p>
               <br/>
            </div>
          </div>
          <div class="reviews1">
                 <h4>{{hotels.review1}}</h4>
                 <h6>{{hotels.rating1}}</h6>
                 <p>180 reviews</p> 
          </div>
          <div class="price">
             <p class="per">Price</p>
             <p>₹ {{hotels.price1}}</p> 
             <p class="per">per night</p>
          </div>
          <div class="rating-stars1">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
          </div>
          {% if user.is_authenticated %}
            <a href="{% url 'booking' %}">
              <button type="button" class="confirm">BOOK NOW</button>
            </a>
          {% else %}
            <a href="{% url 'user_login' %}">
              <button class="confirm">BOOK NOW</button>
            </a>
          {% endif %}
        </div>
   
        <div class="hotel-details">
          <div class="hotel-info">
            <img src="{{hotels.img2.url}}" alt="Hotel Image2">
            <div class="hotel-description">
               <h3 class="name">{{hotels.name2}}</h3>
               <p class="hotel"><i class="fas fa-map-marker-alt"></i>Hotel in {{hotels.hotelname}}</p>
               <p>{{hotels.desc2}}</p>
               <br/>
               <p><b>• Accommodation:</b> Choose from a variety of comfortable and spacious rooms, each with modern amenities and a private balcony. Wake up to the soothing sounds of nature and enjoy the fresh mountain air.</p>
               <br/>
               <p><b>• Service:</b> Our dedicated staff is committed to providing exceptional service to ensure a comfortable and memorable stay for our guests.</p>
               <br/>
            </div>
          </div>
          <div class="reviews2">
                 <h4>{{hotels.review2}}</h4>
                 <h6>{{hotels.rating2}}</h6>
                 <p>450 reviews</p> 
          </div>
          <div class="price">
             <p class="per">Price</p>
             <p>₹ {{hotels.price2}}</p> 
             <p class="per">per night</p>
          </div>
          <div class="rating-stars2">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
          </div>
          {% if user.is_authenticated %}
            <a href="{% url 'booking' %}">
              <button type="button" class="confirm">BOOK NOW</button>
            </a>
          {% else %}
            <a href="{% url 'user_login' %}">
              <button class="confirm">BOOK NOW</button>
            </a>
          {% endif %}
        </div>
   
         <footer>
           <div class="footer-container">
             <div class="footer-section">
               <h3>Contact Us</h3>
               <p>
                 BonVoyage Travel Agency<br />
                 123 Main Street, Kochi,<br />
                 India<br />
                 Phone: +1 123-456-7890<br />
                 <a href="mailto:info@bonvoyage.com">Email: info@bonvoyage.com</a>
               </p>
             </div>
     
             <div class="footer-section">
               <h3>Quick Links</h3>
               <ul>
                 <li><a href="{% url 'index' %}">Home</a></li>
                 <li><a href="{% url 'destinations' %}">Destinations</a></li>
                 <li><a href="{% url 'hotel' %}">Hotels</a></li>
                 <li><a href="{% url 'submit_hotel' %}">Add Hotel</a></li>
                 <li><a href="{% url 'packages' %}">Packages</a></li>
                 <li><a href="{% url 'blog' %}">Blog</a></li>
                 <li><a href="{% url 'create_comment' %}">Reviews</a></li>
                 <li><a href="{% url 'aboutus' %}">About Us</a></li>
                 <li><a href="{% url 'contactus' %}">Contact Us</a></li>
               </ul>
             </div>

             <div class="footer-section">
              <h3>Our Services</h3>
              <ul>
                  <li><a href="{% url 'booking' %}">Booking</a></li>
                  <li><a href="{% url 'booking_list' %}">Booking Lists</a></li>
              </ul>
            </div>
     
             <div class="footer-section">
               <h3>Stay Connected</h3>
               <ul class="social-media">
                <li>
                  <a href="https://www.facebook.com/login/"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                  <a href="https://twitter.com/i/flow/login"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/accounts/login/?hl=en"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href="https://in.linkedin.com/"><i class="fab fa-linkedin"></i></a>
                </li>
               </ul>
             </div>
           </div>
     
           <div class="footer-bottom">
             <p>
               &copy; 2023 BonVoyage. All rights reserved. |
               <a href="#">Privacy Policy</a> | <a href="#">Terms and Conditions</a>
             </p>
           </div>
         </footer>
      
     </body>
   </html>
   