footer {
  background-color: rgba(0, 0, 0, 0.918);
  padding: 20px 0;
  text-align: center;
  margin-top:100px;
  width: 1390px;
  height: auto;
  margin-right: 50px;
  position: absolute;
  padding: 50px;
  padding-top: 10px;
  bottom: -90%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

.footer-section {
  flex-basis: 30%;
  margin-left: -63px;

}

.footer-section h3 {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: cursive;
  font-weight: lighter;
}

.footer-section p {
  color: yellow;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-bottom: 10px;
}

ul li a {
  color: yellow;
  text-decoration: none;
}

ul.social-media li {
  display: inline-block;
  margin-right: 10px;
}

ul.social-media li a {
  color: yellow;
  font-size: 20px;
}

.footer-bottom p {
  margin-top: 20px;
  text-align: center;
  color: white;
  font-size: 16px;
}

.footer-bottom a {
  color: rgba(255, 255, 255, 0.63);
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}
